<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda</title>
    <link rel="stylesheet" href="../assets/css/help.css">
    <link rel="icon" href="../assets/icon/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="help">
        <button class="help" onclick="redirectHelp()">VOLTAR</button>
        <span class="tt">Você está com dúvidas?</span>

        <div class="topic">
            <div class="title">
                <span>Dados Principais</span>
            </div>
            <div class="description">
                <span>
                    Os <span class="dt">Dados Principais</span> devem ser obtidos preferencialmente utilizando os IDs
                    dos embarques. Essa abordagem garante a precisão do valor total final das peças, pois cobre todas as
                    informações relevantes do embarque.<br><br>

                    Também é possível buscar diretamente das CAFs. No entanto, essa abordagem pode impedir o cálculo
                    correto do valor total final das peças.<br><br>

                    <span class="dt">**Importante**:</span> Se você utilizar apenas os Dados Principais, pode não
                    capturar todas as peças, pois este método pode não incluir as injeções e a coleta completa. Para
                    garantir a inclusão dessas informações, é necessário utilizar também os <span class="dt">Dados
                        CAF</span>.<br><br>

                    Exemplo de Dados Principais:<br>
                    <span class="dt">AWB</span> ( Exemplo: AMZB281963650tx ).<br>
                    <span class="dt">Rota</span> ( Exemplo: 70-FOR-CE-INT-[V08] ).<br>
                    <span class="dt">ID do Embarque</span> ( Exemplo: 3108261 ).<br>
                    <span class="dt">ID da CAF</span> ( Exemplo: 16041584 ).<br>
                    <span class="dt">Descrição do Status</span> ( Exemplo: EM ROTA ).<br>
                    <span class="dt">Nome do Motorista</span> ( Exemplo: SERGIO PINHEIRO DE SA RORIZ ).<br><br>
                </span>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <span>Dados CAF</span>
            </div>
            <div class="description">
                <span>
                    Para obter os <span class="dt">Dados CAF</span>, você deve copiar as <span class="dt">CAFs</span> do <span class="dt">Dados
                        Principais</span> e realizar uma nova busca. Apenas com essa abordagem você conseguirá obter as
                    informações corretas, incluindo as injeções e coleta, pois somente os dados do <span
                        class="dt">Dados Principais</span> não fornecem todas as informações necessárias para uma coleta
                    completa.<br><br>

                    Exemplo de Dados CAF:<br>
                    <span class="dt">AWB</span> ( Exemplo: AMZB281963650tx ).<br>
                    <span class="dt">Rota</span> ( Exemplo: 70-FOR-CE-INT-[V08] ).<br>
                    <span class="dt">ID do Embarque</span> ( Exemplo: 3108261 ).<br>
                    <span class="dt">ID da CAF</span> ( Exemplo: 16041584 ).<br>
                    <span class="dt">Descrição do Status</span> ( Exemplo: EM ROTA ).<br>
                    <span class="dt">Nome do Motorista</span> ( Exemplo: SERGIO PINHEIRO DE SA RORIZ ).<br><br>
                </span>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <span>Dados dos Tickets</span>
            </div>
            <div class="description">
                <span>
                    Para os <span class="dt">Dados dos Tickets</span>, você deve coletar:<br><br>
                    
                    <span class="dt">AWB</span> ( Exemplo: AMZB281963650tx ).<br>
                    <span class="dt">Descrição do Ticket</span> ( Exemplo: Encomenda auditada - 5 : AMZB281963650tx ).<br><br>

                    <strong>Observação:</strong> Para baixar o relatório de tickets no <span class="dt">ICS</span>, certifique-se de marcar a opção
                    <span class="dt">Rota</span> em <span class="dt">Dados da encomenda</span> e, em seguida, selecione a caixa <span
                        class="dt">Gerar Relatório de Tickets</span> (essa opção fica ao final da página).<br><br>
                </span>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <span>Excluir Motoristas</span>
            </div>
            <div class="description">
                <span>
                    Se você deseja apagar informações de motoristas, utilize a opção disponível para essa ação.
                    Certifique-se de que os dados estão corretos antes de realizar a exclusão.<br><br>
                </span>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <span>Baixar Imagem</span>
            </div>
            <div class="description">
                <span>
                    Ao baixar a imagem do relatório, ela também será salva na sua área de transferência em formato Excel. Certifique-se de verificar e garantir que o relatório seja gerado corretamente.
                </span>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <span>Agradecimentos</span>
            </div>
            <div class="description">
                <span>
                    Agradecemos pela sua atenção e colaboração. Se tiver mais dúvidas ou precisar de assistência, entre em contato com <strong>Alan Henrique Silva</strong>, que está à disposição para ajudar. 
                    Este projeto é realizado pela empresa <span class="dt"><a href="https://github.com/C3RTarzan" target="_blank">PinkUppers</a>.</span>
                </span>
            </div>
        </div>
    </div>
    <script src="../scripts/help.js"></script>
</body>
</html>
