* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  outline: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #292b2f;
  position: relative;
  justify-content: center;
  align-items: center;
}

div, header, section, footer, main {
  display: flex;
}

a {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  background: #292b2f;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #36393f;
  border-radius: 3px;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

input {
  border: none;
  border-radius: 2px;
  padding-left: 5px;
  height: 20px;
}

span {
  color: #d6d7d9;
  user-select: none;
}

.buttonImp {
  width: 150px;
  height: 80px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3545f3;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

a {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 30px;
}
a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.h1 {
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.websiteDisabled {
  font-size: 25px;
  text-align: center;
  width: 80%;
  font-weight: 600;
}

button {
  user-select: none;
}

textarea {
  text-align: center;
  background-color: #292b2f;
  color: #d6d7d9;
  padding: 5px;
  border-radius: 5px;
}

body {
  justify-content: center;
  align-items: center;
}
body header {
  padding: 10px;
  overflow-y: auto;
  width: 400px;
  height: 100%;
  background-color: #292b2f;
  border-right: solid 1px #36393f;
  flex-direction: column;
}
body header .dataInput {
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .dataInput .types {
  position: relative;
  font-weight: 600;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: help;
}
body header .dataInput .types:hover > div {
  display: flex;
}
body header .dataInput .types div {
  position: absolute;
  display: none;
  top: -60px;
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: #36393f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body header .dataInput .types div .typesSub {
  font-size: 12px;
  text-align: center;
  margin: 5px 0;
}
body header .button {
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .button button {
  width: 150px;
  border: none;
  background-color: #3545f3;
  padding: 10px 20px;
  color: #d6d7d9;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
body header .button button:hover {
  background-color: #1523b8;
}
body header .button .buttonsole {
  margin-bottom: 10px;
  width: 200px;
}
body header .button input {
  text-align: center;
}
body header .button .collectSelectName {
  appearance: none;
  height: 25px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
body header .button .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  color: #d6d7d9;
  cursor: pointer;
}
body header .button .icon:hover {
  opacity: 0.8;
}
body main {
  overflow-y: auto;
  width: calc(100% - 400px);
  height: 100%;
  background-color: #292b2f;
  flex-direction: column;
}
body main .help {
  position: absolute;
  right: 10px;
  width: 90px;
  height: min-content;
  border: none;
  color: #d6d7d9;
  text-decoration: underline;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}
body main .inffo {
  width: 100%;
  height: 300px;
}
body main .graphic {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .graphic .sheet {
  background-color: rgb(255, 255, 255);
  width: 80%;
  flex-direction: column;
}
body main .graphic .sheet .herderSheet {
  width: 100%;
  height: 130px;
}
body main .graphic .sheet .herderSheet div {
  justify-content: center;
  align-items: center;
}
body main .graphic .sheet .herderSheet .logo {
  width: 30%;
  justify-content: flex-start;
  padding: 10px;
}
body main .graphic .sheet .herderSheet .logo .bgImage {
  width: 200px;
  height: 130px;
  background-image: url("../img/logoTotal.png");
  background-size: 200px auto;
  background-repeat: no-repeat;
  background-position: center;
}
body main .graphic .sheet .herderSheet .title {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main .graphic .sheet .herderSheet .title span:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  color: #1E2348;
}
body main .graphic .sheet .herderSheet .title span:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  color: #a80000;
}
body main .graphic .sheet .herderSheet .date {
  width: 30%;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-start;
}
body main .graphic .sheet .herderSheet .date span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
body main .graphic .sheet .mainSheet {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
body main .graphic .sheet .mainSheet .headerMainSheet {
  height: 30px;
  width: 100%;
  background-color: #1E2348;
}
body main .graphic .sheet .mainSheet .headerMainSheet div {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}
body main .graphic .sheet .mainSheet .headerMainSheet div span {
  font-weight: 600;
}
body main .graphic .sheet .mainSheet .headerMainSheet .bcRouter {
  width: 10%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .headerMainSheet .bcAggregate {
  width: 30%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .headerMainSheet .bcCAF {
  width: 10%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .headerMainSheet .bcAmount {
  width: 10%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .headerMainSheet .bcState {
  width: 20%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .headerMainSheet .bcSituation {
  width: 20%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added {
  min-height: 20px;
  width: 100%;
  background-color: #ffffff;
}
body main .graphic .sheet .mainSheet .added div {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-left: solid 1px rgba(0, 0, 0, 0.2);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}
body main .graphic .sheet .mainSheet .added div span {
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: black;
  font-weight: 600;
  user-select: text;
}
body main .graphic .sheet .mainSheet .added .bcRouter {
  width: 10%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added .bcRouter span {
  font-size: 18px;
}
body main .graphic .sheet .mainSheet .added .bcAggregate {
  width: 30%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added .bcAggregate span {
  font-size: 13px;
}
body main .graphic .sheet .mainSheet .added .bcCAF {
  width: 10%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added .bcCAF span {
  font-size: 14px;
}
body main .graphic .sheet .mainSheet .added .bcAmount {
  width: 10%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added .bcAmount span {
  font-size: 18px;
}
body main .graphic .sheet .mainSheet .added .bcState {
  width: 20%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added .bcState span {
  font-size: 16px;
}
body main .graphic .sheet .mainSheet .added .bcSituation {
  width: 20%;
  height: 100%;
}
body main .graphic .sheet .mainSheet .added .bcSituation span {
  font-size: 16px;
}
body main .graphic .sheet .mainSheet .addedBG {
  background-color: #dfdfdf;
}
body main .graphic .sheet .mainSheet .CL_inCAF div span {
  color: rgb(38, 65, 153);
}
body main .graphic .sheet .mainSheet .CL_inStreet div span {
  color: rgb(4, 148, 4);
}
body main .graphic .sheet .footerSheet {
  width: 100%;
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main .graphic .sheet .footerSheet div {
  height: 100%;
  width: 100%;
  background-color: #1E2348;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: solid 1px rgba(255, 255, 255, 0.8);
  border-left: solid 1px rgba(255, 255, 255, 0.8);
  width: 25%;
}
body main .graphic .sheet .footerSheet div span {
  font-weight: 600;
}
body main .graphic .buttonDn {
  position: relative;
  width: 100%;
  padding: 10px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .graphic .buttonDn button {
  width: 150px;
  border: none;
  background-color: #28a745;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
body main .graphic .buttonDn button:hover {
  opacity: 0.8;
}
body main .graphic .buttonDn button:disabled {
  cursor: default;
  background-color: rgb(32, 32, 32);
}
body main .graphic .buttonDn button:disabled:hover {
  opacity: 1;
}
body main .message {
  width: 100%;
  height: auto;
}

.config {
  padding: 0 10px;
  position: absolute;
  top: -600px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: #36393f;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  border-radius: 10px;
}
.config span {
  color: #d6d7d9;
}
.config .iconClosed {
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 40px;
  color: rgb(236, 49, 25);
  cursor: pointer;
}
.config .namesUsers {
  width: 50%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px 10px 10px 0;
}
.config .namesUsers div {
  padding: 5px;
  background-color: #2f3136;
  margin-bottom: 10px;
  font-size: 20px;
  border: solid 1.5px rgb(32, 32, 32);
  padding-left: 10px;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
}
.config .namesUsers div span {
  width: 90%;
}
.config .namesUsers div .iconDelet {
  width: auto;
  font-size: 25px;
  cursor: pointer;
  color: #d6d7d9;
}
.config .nameAdd {
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.config .nameAdd form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.config .nameAdd form span {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.config .nameAdd form input {
  width: 250px;
  font-size: 18px;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 30px;
}
.config .nameAdd form button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #3545f3;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.config .nameAdd form button:hover {
  opacity: 0.8;
}
.config ::-webkit-scrollbar {
  width: 8px;
  background: #000000;
  cursor: pointer;
}
.config ::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 0px;
  cursor: pointer;
}

.errorBox {
  position: absolute;
  width: 100%;
  min-height: 50px;
  text-align: center;
  background-color: rgb(234, 61, 61);
  top: 0;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
